@use '../base/import' as base;

.bl_sectionButton {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px auto 0;
    width: 100%;

    @include base.responsive(md) {
        margin: 32px auto 0;
        width: percentage(524 / 842);
    }

    a[class] {
        text-decoration: none;
        text-align: center;

        @include base.fontsize(normal);
    }

    @include base.btnstyle;

    &_caption {
        margin-top: 8px;
        color: base.$grey60;

        @include base.responsive(md) {
            margin-top: 12px;
        }
    }
}

