extends ./layout/_base-layout.pug
block var
  -
    var title = 'login'
block content
  main.ly_login
    if ERROR != ''
      p.el_login_error #{ERROR}
    section.bl_loginForm
      .bl_loginForm_imgWrapper
        img.bl_loginForm_img(srcset='/dist/img/bg_image@2.jpg, /dist/img/bg_img_sp@2x.jpg 768w')
      .bl_loginForm_content
        p.bl_loginForm_caption
          |ログインのため、お名前とパスワードを入力してください。
          br
          |お名前は、招待状宛先のお名前をご入力ください。
        form(action='/login' method='POST').bl_loginForm_form
          input#username.bl_loginForm_input(type='text' name='username' placeholder='招待状宛先のお名前（氏名）')
          input#password.bl_loginForm_input(type='password' name='password' placeholder='パスワード')
          input#cropped(type='hidden' name='cropped')
          button.bl_loginForm_btn(type='submit', data-btn-style='black', value='ログイン') ログイン
