extends ./layout/_base-layout.pug
block var
  - var title = 'user'
block content
  p Hello, #{USER}!!
  p
    | あなたは
    span.group
    | です。

  if USER != ''
    form(action='/logout' method='GET')
      input(type='submit' value='logout')
