extends ./layout/_base-layout.pug
block var
  -
    var title = 'user'
    var userName = USER
block content
  main.ly_users
    header.bl_headerMenu(data-header-state='show')
      .bl_headerMenu_spMenu
        |menu
      .bl_headerMenu_inner
        nav.bl_headerMenu_navigation
          .bl_headerMenu_logo
            include ./parts/logo_mark.svg
          ul.bl_headerMenu_list
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#greeting') ご挨拶
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#datePlace') 日時／会場
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#dresscode') ドレスコードについて
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#attention') お願い／ご注意
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#instagram') Instagram
      .bl_spMenu(data-sp-menu='hide')
        ul.bl_spMenu_list
          li.bl_spMenu_link: a.el_spMenu_link(href='#greeting') ご挨拶
          li.bl_spMenu_link: a.el_spMenu_link(href='#datePlace') 日時／会場
          li.bl_spMenu_link: a.el_spMenu_link(href='#dresscode') ドレスコードについて
          li.bl_spMenu_link: a.el_spMenu_link(href='#attention') お願い／ご注意
          li.bl_spMenu_link: a.el_spMenu_link(href='#instagram') Instagram

    .bl_bubble
      include ./parts/bubble.svg
      include ./parts/bubble.svg
      include ./parts/bubble.svg

    section.bl_mv
      .bl_mv_container
        img(srcset='/dist/img/mv@2x.jpg, /dist/img/mv_sp@2x.jpg 768w')

    section.bl_greeting#greeting
      h2.bl_sectionTitle ご挨拶
      .bl_greeting_textWrapper
        p.el_sectionText
          |いつも支えてくださる
          br
          |たいせつなご友人のみなさまへ
        p.el_sectionText
          |昨年予定しておりました結婚式につきまして
          br
          |延期のご連絡をした際には
          br
          |たくさんの励ましの言葉を
          br
          |本当にありがとうございました
        p.el_sectionText
          |私たちはみなさまからの
          br
          |あたたかい言葉に勇気付けられ
          br
          |今年7月に 1年越しの
          br
          |ウエディングパーティーを開催いたします
        p.el_sectionText
          |未だ新型コロナウイルスの収束が見えない中
          br
          |ご出席にあたり
          br
          |ご心配な面もあるかと思います
        p.el_sectionText
          |みなさまの健康と安全を第一に考え
          br
          |スタッフと連携を取りながら
          br
          |出来る限りの感染対策をとってまいります
        p.el_sectionText
          |みなさまに気軽にご参加いただけるような
          br
          |ライトなパーティーを予定しているので
          br
          |ぜひご無理のない範囲で
          br
          |会いにきていただけるとすごく嬉しいです
        p.el_sectionText
          |みなさまとお会いできますことを
          br
          |楽しみにしています！
      .bl_greeting_sign
        p.el_greeting_sign
          |2021年5月吉日
          br
          |佐藤 央　千織(旧姓 柴田)

    section.bl_gallery#gallery
      h2.bl_sectionTitle 画像ギャラリー
      gallery-component

    section.bl_dresscode#dresscode
      h2.bl_sectionTitle ドレスコードについて
      .bl_dresscode_textWrapper
        p.el_sectionText
          |当日はかっちりした披露宴スタイルではなく
          br
          |夏の立食パーティ・イベント参加のように
          br
          |カジュアルなスタイルでお越しください！
        p.el_sectionText
          |例えば女性は
          br
          |リネンのワンピース・サンダル・
          br
          |カラフルな小物・さわやかな
          br
          |パンツスタイル・ぺたんこパンプス・
          br
          |ノースリーブなど どれも大歓迎です！
        p.el_sectionText
          |男性なら
          br
          |色味があったり柄の入ったシャツ・
          br
          |蝶ネクタイやサスペンダーで遊んだり
          br
          |ポロシャツもいいですね！
          br
          |シンプルにジャケパンスタイルもGoodです！
        p.el_sectionText
          |イメージがつきにくいかもしれませんので
          br
          |イメージ画像をまとめました。
          br
          |参考にしてください＊
          br
          |(ちなみに私達は当日スニーカーです)
      .bl_sectionButton
        a.bl_sectionButton_link(href='https://pin.it/4OkzZA8', target='_blank', data-btn-style='black') イメージを確認する
        span.bl_sectionButton_caption ※pinterestが開きます

    section.bl_attention#attention
      h2.bl_sectionTitle お願い／ご注意
      .bl_attention_container
        .bl_attention_content
          p.el_attention_title 今回のパーティーについて
          .bl_attention_answerBlock
            p.el_attention_answer
              |今回のパーティーは
              br
              |コロナ禍でもお気軽にご参加いただけるよう
              br
              |滞在時間を短く設定しております
            p.el_attention_answer
              |お飲み物や
              br
              |軽くつまんでいただけるようなお料理を
              br
              |ご用意してお待ちしております
            p.el_attention_answer
              |約1時間のなかではありますが
              br
              |みなさまと一緒に会話をしたり
              br
              |写真撮影をしたりと
              br
              |楽しいひとときを過ごせれば幸いです
            p.el_attention_answer
              |また短い時間のなかでも
              br
              |途中参加 途中退席も可能ですので
              br
              |ぜひお気軽に
              br
              |ご参加いただけますとうれしいです
        .bl_attention_content
          p.el_attention_title 会費について
          .bl_attention_answerBlock
            p.el_attention_answer
              |参加費（5000円）は受付の際に
              br
              |現金でお支払いをお願いいたします
              br
              |その際できるだけお釣りのないように
              br
              |ご用意をお願いいたします
        .bl_attention_content
          p.el_attention_title 駐車場について
          .bl_attention_answerBlock
            p.el_attention_answer
              |ホテル周辺に いくつか
              br
              |有料コインパーキングがございます
              br
              |恐れ入りますが
              br
              |実費でのご利用をお願いいたします
        .bl_attention_content
          p.el_attention_title エレベーターについて
          .bl_attention_answerBlock
            p.el_attention_answer
              |会場はホテルの10階バースペースを
              br
              |予定しております
              br
              |(ホテルにエレベーターは2基あります)
            p.el_attention_answer
              |またパーティ開始の時間帯が
              br
              |ちょうどチェックアウト・清掃の時間と
              br
              |かさなっていることから
              br
              |エレベーターの混雑が予想されます
            p.el_attention_answer
              |ご不便をおかけしますが
              br
              |みなさまで譲り合いながら
              br
              |ご利用いただけますと幸いです
        .bl_attention_content
          p.el_attention_title 喫煙所について
          .bl_attention_answerBlock
            p.el_attention_answer
              |会場内は全面禁煙(電子タバコ不可)です
              br
              |喫煙の際はホテル敷地内の駐車場に
              br
              |灰皿を用意しておりますので
              br
              |そちらをご利用ください
        .bl_attention_content
          p.el_attention_title お子様連れのみなさまへ
          .bl_attention_answerBlock
            p.el_attention_answer
              |当日はお子様の授乳やお着替えのための
              br
              |別室を用意いたします
              br
              |ご使用になりたいときはお気軽に
              br
              |お近くのスタッフへお声がけください！
        .bl_attention_content
          p.el_attention_title コロナ対策について
          .bl_attention_answerBlock
            ul.el_attention_answer
              li.el_attention_list
                |受付で手指の消毒をお願いいたします
              li.el_attention_list
                |会場各所にも消毒液を配置しております
                br
                |ご自由にお使いください
              li.el_attention_list
                |会場は定期的に換気いたします
              li.el_attention_list
                |会場は半分が屋内・半分が屋外となった
                br
                |バーです
              li.el_attention_list
                |天候にもよりますが パーティご参加中は
                br
                |自由に屋外でお過ごしいただくことも
                br
                |可能です

    section.bl_instagram#instagram
      h2.bl_sectionTitle Instagram
      .bl_instagram_textWrapper
        p.el_sectionText
          |instagram投稿は
          br
          a.el_instagram_link(href='https://www.instagram.com/explore/tags/sandp0703/' target='_blank' rel='noopener') ハッシュタグ #sandp0703
          br
          |を付けて投稿
      .bl_instagram_content

    footer.bl_footer
      .bl_footer_inner
        p.el_footer_text 2021 sugar pepper sparkle
        a.el_footer_link(href='https://github.com/hi0711/wedding-invitation' target='_blank'): img(src='/dist/img/GitHub-Mark-Light-120px-plus.png')
        form(action='/logout' method='GET').el_footer_logout
          button(type='submit' value='logout').el_footer_logoutBtn ログアウト
