extends ./layout/_base-layout.pug
block var
  -
    var title = 'user'
    var userName = USER
block content
  main.ly_users
    header.bl_headerMenu(data-header-state='show')
      .bl_headerMenu_spMenu
        |menu
      .bl_headerMenu_inner
        nav.bl_headerMenu_navigation
          .bl_headerMenu_logo
            include ./parts/logo_mark.svg
          ul.bl_headerMenu_list
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#greeting') ご挨拶
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#instagram') Instagram
            li.bl_headerMenu_link: a.el_headerMenu_link(href='#gallery') 画像ギャラリー
      .bl_spMenu(data-sp-menu='hide')
        ul.bl_spMenu_list
          li.bl_spMenu_link: a.el_spMenu_link(href='#greeting') ご挨拶
          li.bl_spMenu_link: a.el_spMenu_link(href='#instagram') Instagram
          li.bl_spMenu_link: a.el_spMenu_link(href='#gallery') 画像ギャラリー

    .bl_bubble
      include ./parts/bubble.svg
      include ./parts/bubble.svg
      include ./parts/bubble.svg

    section.bl_mv
      .bl_mv_container
        img(srcset='/dist/img/mv@2x.jpg, /dist/img/mv_sp@2x.jpg 768w')

    section.bl_greeting#greeting
      h2.bl_sectionTitle ご挨拶
      .bl_greeting_textWrapper
        p.el_sectionText
          |いつも支えてくださる
          br
          |たいせつなご友人のみなさまへ
        p.el_sectionText
          |昨年予定しておりました結婚式につきまして
          br
          |延期のご連絡をした際には
          br
          |たくさんの励ましの言葉を
          br
          |本当にありがとうございました
        p.el_sectionText
          |私たちはみなさまからの
          br
          |あたたかい言葉に勇気付けられ
          br
          |今年7月に 1年越しの
          br
          |ウエディングパーティーを開催いたします
        p.el_sectionText
          |未だ新型コロナウイルスの収束が見えない中
          br
          |ご出席にあたり
          br
          |ご心配な面もあるかと思います
        p.el_sectionText
          |みなさまの健康と安全を第一に考え
          br
          |スタッフと連携を取りながら
          br
          |出来る限りの感染対策をとってまいります
        p.el_sectionText
          |みなさまに気軽にご参加いただけるような
          br
          |ライトなパーティーを予定しているので
          br
          |ぜひご無理のない範囲で
          br
          |会いにきていただけるとすごく嬉しいです
        p.el_sectionText
          |みなさまとお会いできますことを
          br
          |楽しみにしています！
      .bl_greeting_sign
        p.el_greeting_sign
          |2021年5月吉日
          br
          |佐藤 央　千織(旧姓 柴田)

    section.bl_instagram#instagram
      h2.bl_sectionTitle Instagram
      .bl_instagram_textWrapper
        p.el_sectionText
          |instagram投稿は
          br
          a.el_instagram_link(href='https://www.instagram.com/explore/tags/sandp0703/' target='_blank' rel='noopener') ハッシュタグ #sandp0703
          br
          |を付けて投稿
      .bl_instagram_content

    section.bl_gallery#gallery
      h2.bl_sectionTitle 画像ギャラリー
      gallery-component

    footer.bl_footer
      .bl_footer_inner
        p.el_footer_text 2021 sugar pepper sparkle
        a.el_footer_link(href='https://github.com/hi0711/wedding-invitation' target='_blank'): img(src='/dist/img/GitHub-Mark-Light-120px-plus.png')
        form(action='/logout' method='GET').el_footer_logout
          button(type='submit' value='logout').el_footer_logoutBtn ログアウト
