@use '../base/import' as base;

.el_attention {
  &_title {
    padding-left: 16px;
    font-weight: bold;

    @include base.fontsize(l);

    + * {
      margin-top: 20px;

      @include base.responsive(md) {
        margin-top: 32px;
      }
    }
  }

  &_answer {
    @include base.fontsize(normal);
  }

  &_list {
    position: relative;
    padding-left: 1em;

    &::before {
      position: absolute;
      top: calc(0.5em * 1.5);
      left: -0.25em;
      display: block;
      width: 0.5em;
      height: 0.5em;
      content: '';
      background-color: base.$black;
      transform: translateX(50%);
    }
  }
}
