@use '../base/import' as base;

.el_replyForm {
  &_input,
  &_label {
    font-size: 16px;
  }

  &_label {
    min-width: 7em;
  }

  &_input {
    width: 100%;
    padding: 0;
    margin-top: 8px;
    color: base.$black;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;

    @include base.responsive(md) {
      margin-top: 0;
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  &_radioLabel {
    padding-left: 0.5em;
    font-size: 16px;
  }
}
